## Just revising some Python programming concepts that are gonna be used in this course

### DataFrames from Pandas

In [1]:
import pandas as pd

In [2]:
data= pd.read_csv('lsd_math_score_data.csv')

In [6]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# accessing a column; a Series object is returned
onlyMathScores = data['Avg_Math_Test_Score']

In [10]:
type(onlyMathScores)

pandas.core.series.Series

In [11]:
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
# preserves 2D structure; a DataFrame

In [12]:
type(cleanData)

pandas.core.frame.DataFrame

In [13]:
# Adding new columns
data['Test_Subject'] = 'Jennifer Lopez'            # broadcast string

In [14]:
data.head()

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez

In [24]:
data['High_Score'] = 100                         # broadcast number
data.head()

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,100
1,15,2.97,58.20,Jennifer Lopez,100
2,30,3.26,67.47,Jennifer Lopez,100
3,60,4.69,37.47,Jennifer Lopez,100
4,120,5.83,45.65,Jennifer Lopez,100

In [25]:
data['High_Score'] -= data['Avg_Math_Test_Score'] # elementwise add
data.head()

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,21.07
1,15,2.97,58.20,Jennifer Lopez,41.80
2,30,3.26,67.47,Jennifer Lopez,32.53
3,60,4.69,37.47,Jennifer Lopez,62.53
4,120,5.83,45.65,Jennifer Lopez,54.35

In [26]:
data['High_Score'] = data['High_Score']**2      # elementwise square
data.head()

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,443.9449
1,15,2.97,58.20,Jennifer Lopez,1747.2400
2,30,3.26,67.47,Jennifer Lopez,1058.2009
3,60,4.69,37.47,Jennifer Lopez,3910.0009
4,120,5.83,45.65,Jennifer Lopez,2953.9225

In [27]:
# deleting columns
del data['Test_Subject']
del data['High_Score']

In [28]:
data.head()

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65

**Key Terms / Questions**

- DataFrame vs. Series
- Tabular structure (rows & columns)
- pd.read_csv()
- Column selection (data['col'] → Series, data[['col1','col2']] → DataFrame)
- Broadcasting (scalar → all rows)
- Elementwise operations on Series
- del keyword for column removal
- Q: When would you prefer a Series over a one‑column DataFrame?
- Q: How do you handle missing values in a DataFrame before analysis?

**Summary**

Pandas DataFrames store 2D data; Series are their single‑column slices. Use data['col'] to get a Series, or data[['col1','col2']] to subset a DataFrame. You can add, compute on, and delete columns with intuitive syntax, leveraging elementwise operations on Series for rapid table manipulation.